<section id="shopping-bag" class="shopping-bag" data-quantity="" data-price="">
    <h2>Summary:</h2>
    <p class="shopping-bag__quantity">Quantity : <strong>2</strong></p>
    <p class="shopping-bag__totalprice">
        Total:
        <strong></strong>
    </p>
    <small>Duties & Taxes included</small>
</section>