// Fonts
@font-face {
  font-family: 'Polaris book';
  src: url('../fonts/polaris-book-webfont.eot');
  src: url('../fonts/polaris-book-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/polaris-book-webfont.woff') format('woff'),
  url('../fonts/polaris-book-webfont.ttf')  format('truetype'),
  url('../fonts/polaris-book-webfont.svg#svgFontName') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Polaris bold';
  src: url('../fonts/polaris-bold-webfont.eot');
  src: url('../fonts/polaris-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/polaris-bold-webfont.woff') format('woff'),
  url('../fonts/polaris-bold-webfont.ttf')  format('truetype'),
  url('../fonts/polaris-bold-webfont.svg#svgFontName') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Polaris bold condensed';
  src: url('../fonts/polariscondensed-bold-webfont.eot');
  src: url('../fonts/polariscondensed-bold-webfont.eot?#iefix') format('embedded-opentype')
  url('../fonts/polariscondensed-bold-webfont.woff') format('woff'),
  url('../fonts/polariscondensed-bold-webfont.ttf')  format('truetype'),
  url('../fonts/polariscondensed-bold-webfont.svg#svgFontName') format('svg');
  font-weight: normal;
  font-style: normal;
}

// Core variables and mixins
@import "utilities/variables";
@import "utilities/mixins";

// Reset and dependencies
@import "utilities/normalize";
@import "utilities/print";

// Bootstrap grid
@import "utilities/bootstrap-reboot";
@import "utilities/bootstrap-grid";

// Custom
@import "utilities/custom";
@import "utilities/iconssvg";

body {
  background-color: $site-bg-color;
  color: $main-text-color;
  @include font-book(19px, 1.5);
}

.site-main,
.site-aside {
  @include make-col();
  @include make-col-span(12);
}
.site-main {
  @include media-breakpoint-up(lg) {
    @include make-col-span(9);
  }
}
.site-aside {
  @include media-breakpoint-up(lg) {
    @include make-col-span(3);
  }
}

// Atoms
@import "atoms/button-bag";

// Molecules
@import "molecules/product";
@import "molecules/section-header";

// Organisms
@import "organisms/footer";
@import "organisms/header";
@import "organisms/products";
@import "organisms/shopping-bag";
